<div class="container">
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Link</th>
      <th>Submissions</th>
      <th>Published Date</th>
      <th>Closed Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of formServiceObj.listForms;let i=index">
      <td>{{emp.formId}}</td>
      <td>{{emp.formTitle}}</td>
      <td>{{emp.formDescription}}</td>
      <td>{{emp.formStatus}}</td>
      <td><a href='{{emp.formLink}}'>{{emp.formLink}}</a></td>
      <td>{{emp.formSubmissions}}</td>
      <td>{{emp.formPublishedDate | date:'yyyy-MM-dd' }}</td>
      <td>{{emp.formClosedDate | date:'yyyy-MM-dd' }}</td>
      <td><a routerLink='/CreateForm/{{emp.formId}}'><i class="fa fa-edit"(click)="onEditForm(emp.formId,i)" style="font-size:20px;color:rgb(10,2,116);cursor:pointer"></i></a>&nbsp;
        <i class="fa fa-trash-o" (click)="delete(emp.formId)" style="font-size:20px;color:rgb(233, 27, 27);cursor:pointer"></i>
      </td>
    </tr>
  </tbody>
</table>