.o365sx-navbar {
    background-color: #03787c;
    background-position: left top;
    /* background-repeat-x: repeat; */
    background-image: none;
}

._2tvCNqil81Lsi6owqrTDMq {
    display: inline-block;
    font-weight: 600;
    font-family: SegoeUI-SemiBold-final, Segoe UI Semibold, SegoeUI-Regular-final, Segoe UI, "Segoe UI Web (West European)", Segoe, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 48px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

._3ce77VUODX2GxJq138_AcE {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}

._3MiiOD-tEXtz29zSdBsiT {
    height: 48px;
    display: flex;
}

._3XjCbKdKOEIOUJsh2GlYnZ {
    height: 100%;
    display: flex;
    vertical-align: middle;
    outline-offset: -1px;
    padding: 0 12px 0 8px;
    text-decoration: none;
}