<div id="O365_NavHeader" class="_2U6lMCvqM_zLoqT4JdUwuH o365cs-base o365sx-navbar o365sx-search" role="banner"
    style="height: 48px; line-height: 48px;">
    <div id="CenterRegion" class="_3ce77VUODX2GxJq138_AcE" style="width: calc(100% - 96px);">
        <div style="width: 100%;">
            <div style="display: block; position: relative;">
                <div style="width: 100%;">
                    <div id="Region_1" class="_3MiiOD-tEXtz29zSdBsiT" style="justify-content: flex-start;">
                        <div class="_3XjCbKdKOEIOUJsh2GlYnZ o365sx-appName">
                            <span class="_2tvCNqil81Lsi6owqrTDMq">Forms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>