.-nH-229 {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    border-radius: 4px;
    border: 0px;
    color: rgb(255, 255, 255);
    background: rgb(3, 120, 124);
    padding: 12px 13px;
}
.-h1-143 {
    display: inline-block;
    vertical-align: middle;
}
.-nH-229 svg {
    width: 15px;
    height: 15px;
    fill: rgb(255, 255, 255);
}
.-nH-326 {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    border-radius: 4px;
    border: 0px;
    color: rgb(255, 255, 255);
    background: rgb(3, 120, 124);
    padding: 12px 13px;
}
button {
    cursor: pointer;
}
.-nH-326 svg {
    width: 15px;
    height: 15px;
    fill: rgb(255, 255, 255);
    margin-top: -6px;
   
}
.-h7-157 {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(97, 97, 97);
}
.button-solid {
    border: none;
    color:black;
    background-color: white;
    cursor: text;
    
}
.datepicker
{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button-solid:focus {
    border: none;
    outline: none;
    color: white;
    background-color: white;
 
}
.untitle{
    font-size: 36px;
    color: rgb(36, 36, 36);
    line-height: 48px;
    font-family: "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif, Roboto;
}
#optionbox
{
    border-top:none ;
    border-left:0px ;
    border-right:none;
    float: left;


}
.card
{
   margin-left: 100px;
   margin-right: 100px;
   background-clip: border-box;
   border: 1px solid rgba(0, 0, 0,.125);
   border-radius: 0.25rem;
}


