<div class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body">
        <!-- ...................FORM BUTTON ...................................................... -->
        <button class="button-solid" (click)="clickOnUntitle()">
            <h5 class="untitle"> Form</h5>
        </button><br>
        <!-- ...................fORM title and description............................................. -->
        <div *ngIf="showformuntitled">
            <div class="form-group">
                <input formControlName="formTitle" type="text" class="form-control" placeholder="Title" required>
                <span class="fa fa-danger" style="font-size: 15px;color:red;"
                    *ngIf="formTitle?.invalid && (formTitle?.dirty|| formTitle?.touched)">*Required</span><br>

                <input formControlName="formDescription" type="text" class="form-control" placeholder="Description"
                    required>
                <span class="fa fa-danger" style="font-size: 15px;color: red;"
                    *ngIf="formDescription?.invalid && (formDescription?.dirty||formDescription?.touched)">*Required</span><br>

                <input formControlName="formClosedDate" min='{{myDate}}' type="text" placeholder="Expiration Date"
                    class="datepicker" onfocus="(this.type='date')" />
            </div>
        </div>

        <hr><br><br>

        <div class="-h5-240">
            <button aria-expanded="false" (click)="buttonOnOF()" aria-label="Add new question or section"
                class="-nH-326">
                <span>+Add new</span>
            </button>
        </div><br>

        <div *ngIf="openbtn">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" (click)="addNewOptionTypeQuestion()" class="btn btn-primary">SCQ</button>
                <button type="button" (click)="addNewCheckBoxForm()" class="btn btn-primary">MCQ</button>
                <button type="button" (click)="addNewRatingForm()" class="btn btn-primary">Rating</button>
                <button type="button" class="btn btn-primary" (click)=" addNewRankingForm()">Raking</button>
                <button type="button" class="btn btn-primary" (click)="addNewSingleQuestion()">SLA</button>
                <button type="button" (click)="AddMultilineComment()" class="btn btn-primary">MLA</button>
            </div>
        </div><br>

        <div>
            <ng-container formArrayName="singleoptionsQuestion"
                *ngFor="let o of singleoptionsQuestion.controls; let i = index">
                <b>Question:</b> <button class="btn btn-outline-danger mx-3 mt-3"
                    (click)="removeOptionTypeQuestion(i)">&times;</button>
                <hr>
                <div class="row mt-2" [formGroupName]="i">
                    <div class="col-md-6">
                        <input formControlName="questionName" type="text" class="form-control"
                            placeholder="Enter your Single Choice Question..." required />
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                            <input type="text" id="{{optionbox' + i}}" formControlName="radio1"
                                placeholder="Option1"><br><br>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                            <input type="text" id="{{'optionbox'+i}}" formControlName="radio2"
                                placeholder="Option2"><br><br>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                            <input type="text" id="{{'optionbox'+i}}" formControlName="radio3"
                                placeholder="Option3"><br><br>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                            <input type="text" id="{{'optionbox'+i}}" formControlName="radio4"
                                placeholder="Option4"><br><br>

                        </div><br>
                    </div>
                </div>
            </ng-container>
        </div>


        <div>
            <ng-container formArrayName="checkboxsQuestions"
                *ngFor="let o of checkboxsQuestions.controls; let i = index">
                <b>Question:</b> <button class="btn btn-outline-danger mx-3 mt-3"
                    (click)="removeChekbox(i)">&times;</button>
                <hr>
                <div class="row mt-2" [formGroupName]="i">
                    <div class="col-md-6">
                        <input formControlName="questionName" type="text" class="form-control"
                            placeholder="Enter your multi-choice Question..." required /><br>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="{{'Checkbox' + i}}">
                            <input type="text" id="{{'Checkbox' + i}}" formControlName="checkbox1"
                                placeholder="Checkbox1"><br><br>
                            <input class="form-check-input" type="checkbox" id="exampleCheckbox2">
                            <input type="text" id="{{'Checkbox' + i}}" formControlName="checkbox2"
                                placeholder="Checkbox2"><br><br>
                            <input class="form-check-input" type="checkbox" id="exampleCheckbox3">
                            <input type="text" id="{{'Checkbox' + i}}" formControlName="checkbox3"
                                placeholder="Checkbox3"><br><br>
                            <input class="form-check-input" type="checkbox" id="exampleCheckbox4">
                            <input type="text" id="{{'Checkbox' + i}}" formControlName="checkbox4"
                                placeholder="Checkbox4"><br><br>
                        </div><br>

                    </div>
                </div>
            </ng-container>
        </div>


        <div>
            <ng-container formArrayName="ratingQuestions" *ngFor="let o of ratingQuestions.controls; let i = index">
                <b>Question:</b> <button class="btn btn-outline-danger mx-3 mt-3"
                    (click)="removeRating(i)">&times;</button>
                <hr>
                <div class="row mt-2" [formGroupName]="i">
                    <div class="col-md-6">
                        <input formControlName="questionName" type="text" class="form-control"
                            placeholder="Enter Rating Question....." required />
                    </div>
                    <div class="rating-order-wrp">
                        <div class="d-flex  align-items-center">
                            <div class="star">
                                <ngx-star-rating id="{{'rating1'+i}}"></ngx-star-rating>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-container>
        </div>

        <div>
            <ng-container formArrayName="rankingQuestions" *ngFor="let o of rankingQuestions.controls; let i = index">
                <b>Question:</b> <button class="btn btn-outline-danger mx-3 mt-3"
                    (click)=" removeRanking(i)">&times;</button>
                <hr>
                <div class="row mt-2" [formGroupName]="i">
                    <div class="col-md-6">
                        <input formControlName="questionName" type="text" class="form-control"
                            placeholder="Enter your Ranking Question..." required /><br>

                        <div class="form-group">
                            <div class="range">
                                <input type="range" class="form-range" min="0" max="5" id="{{'customRange'+i}}" />
                            </div>
                        </div><br>

                    </div>
                </div>
            </ng-container>
        </div>

        <div>
            <ng-container formArrayName="singleLineQuestion"
                *ngFor="let o of singleLineQuestion.controls; let i = index">
                <b>Question:</b> <button class="btn btn-outline-danger mx-3 mt-3"
                    (click)="removeSinglForm(i)">&times;</button>
                <hr>
                <div class="row mt-2" [formGroupName]="i">
                    <div class="col-md-6">
                        <input formControlName="questionName" type="text" class="form-control"
                            placeholder="Enter your SingleLine Type Question" required><br>

                        <!-- <div class="form-group">
                            <label for="SingleLineQuestion">Answer :</label>
                            <textarea class="form-control" id="{{'exampleFormControlTextarea' + i}}" rows="2"
                                formControlName="options" maxlength="30" placeholder="Singleline Answer"></textarea>
                        </div><br> -->

                    </div>
                </div>
            </ng-container>
        </div>

        <div>
            <ng-container formArrayName="multiquestion" *ngFor="let o of multiquestion.controls; let i = index">
                <b>Question:</b> <button class="btn btn-outline-danger mx-3 mt-3"
                    (click)="removeMultilineComment(i)">&times;</button>
                <hr>
                <div class="row mt-2" [formGroupName]="i">
                    <div class="col-md-6">
                        <input formControlName="questionName" type="text" class="form-control"
                            placeholder="Enter your MultiLine Type Question..." required /><br>

                        <!-- <div class="form-group">
                            <label for="multiquestion">Answer :</label>
                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"
                                formControlName="options" placeholder="Multiline Answer"></textarea>


                        </div><br> -->

                    </div>
                </div>
            </ng-container>
        </div>

    </div>


    <div class="card-footer text-center">
        <div class="row mt-1">
            <div class="btn-group" role="group" aria-label="button">
                <button type="button" class="btn btn-secondary" routerLink="/InboxForm">Preview</button>
                <button type="button" class="btn btn-info" (click)="onSubmit()">Published</button>
                <button type="button" class="btn btn-danger" (click)="clickoncancle()">Cancel</button>
            </div>
        </div>

    </div>
</div>